.modal__title {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  margin: 0 0 -9px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  color: #2f71e5;
}

.modal__label {
  margin-top: 31px;
}
.modal__input {
  display: block;
  margin-top: 9px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 39px;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.modal__submit {
  width: 100%;
  height: 64px;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-color: #2f71e5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-shadow: 0 5px 15px #0e1a3933;
  transition: background-color 0.3s ease;
}

.modal__submit:hover {
  background-color: #347eff;
  cursor: pointer;
}

.modal__submit-disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
  pointer-events: none;
  transition: background-color 0.3s ease;
  box-shadow: none;
}

.modal__extra-button {
  background: transparent;
  max-width: 100px;
  border: none;
  color: #2f71e5;
  cursor: pointer;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  padding: 0;
  transition: background-color 0.3s ease;
}

.modal__extra-button-text {
  color: #000000;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
}

.modal__extra-button:hover {
  color: #347eff;
}

.modal__error {
  color: #ff0000;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  height: 17px;
}

.modal__login-error {
  color: #ff0000;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  padding-top: 15px;
  margin: auto;
}

@media (max-width: 700px) {
  .modal__buttons {
    margin-top: 23px;
  }
}
