.saved-news {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f5f6f7;
  color: #000;
}

.saved-news__container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 37px 104px 56px;
  gap: 30px;
}
.saved-news__title {
  color: #1a1b2280;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.saved-news__info {
  margin: 0;
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  max-width: 530px;
}

.saved-news__keywords {
  display: flex;
  margin: 0;
  gap: 8px;
}

.saved-news__keywords-title {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}
.saved-news__keywords-content {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

.saved-news__list {
  margin: 62px 0 62px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.saved-news__empty {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

@media (max-width: 1024px) {
  .saved-news__container {
    padding: 24px 40px 16px;
    gap: 16px;
  }
  .saved-news__title {
    font-size: 14px;
  }

  .saved-news__info {
    font-size: 30px;
    line-height: 34px;
  }

  .saved-news__list {
    margin: 32px 0 32px 0;
    gap: 8px;
  }

  .saved-news__empty {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 700px) {
  .saved-news__container {
    padding: 8px 16px 32px;
    gap: 16px;
  }

  .saved-news__title {
    font-size: 12px;
    line-height: 24px;
  }

  .saved-news__info {
    font-size: 30px;
    line-height: 34px;
    max-width: 100%;
  }

  .saved-news__keywords {
    flex-direction: column;
    gap: 4px;
  }

  .saved-news__keywords-title,
  .saved-news__keywords-content {
    font-size: 14px;
    line-height: 20px;
  }

  .saved-news__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    margin: 32px 0;
    gap: 10px;
  }

  .saved-news__empty {
    font-size: 24px;
    line-height: 28px;
    margin: 40px auto;
  }
}
