.main {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 104px 0 104px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.cards__text {
  margin: 0;
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  max-width: 712px;
}

.cards__list {
  margin: 64px 0 64px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.cards__more-button {
  padding: 20px 98px 20px 99px;
  margin: auto;
  max-width: 288px;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: background-color 0.2s ease;
}

.cards__more-button:hover {
  background-color: #e8e8e8;
}

.cards__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__empty-image {
  background: url("../../assets/not-found.svg") center/cover no-repeat;
  width: 83px;
  height: 83px;
  margin-top: 6px;
  margin-bottom: 32px;
}

.cards__empty-title {
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
.cards__empty-description {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  text-align: center;
}

@media (max-width: 1024px) {
  .cards {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 40px 0 40px;
  }
  .cards__list {
    gap: 8px;
    margin: 32px 0 32px 0;
  }

  .cards__more-button {
    padding: 16px 74px 16px 75px;
  }
}
@media (max-width: 785px) {
  .cards {
    padding: 0 32px 0 32px;
  }
}
@media (max-width: 700px) {
  .cards {
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 0 16px 0 16px;
  }

  .cards__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
  }

  .cards__list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 58px 0 21px 0;
    gap: 10px;
  }

  .cards__more-button {
    padding: 20px 98px 20px 99px;
  }
}
