.about {
  margin: 0;
  padding: 80px 104px;
  background-color: #fff;
  max-width: 1440px;
}

.about__container {
  margin: 0;
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}

.about__image-placeholder {
  width: 100%;
  max-width: 464px;
  min-width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #949494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.about__image-avatar {
  width: 58px;
  height: 58px;
  margin-bottom: 20px;
}

.about__image-text {
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.about__text {
  flex: 1;
  padding-top: 51px;
  max-width: 600px;
}

.about__title {
  margin: 0 0 24px 0;
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  color: #1a1b22;
}

.about__paragraph {
  margin: 0 0 16px 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1b22;
}

@media (max-width: 1024px) {
  .about {
    margin: 0;
    padding: 40px;
  }

  .about__container {
    gap: 32px;
  }

  .about__image-placeholder {
    max-width: 232px;
    max-height: 232px;
  }
  .about__image-avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }

  .about__image-text {
    font-size: 14px;
  }

  .about__text {
    flex: 1;
    padding: 0;
  }

  .about__title {
    margin: 0 0 16px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .about__paragraph {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 700px) {
  .about {
    margin: 0;
    padding: 32px 24px;
  }

  .about__container {
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  .about__image-placeholder {
    max-width: 272px;
    max-height: 272px;
  }
  .about__image-avatar {
    width: 58px;
    height: 58px;
    margin-bottom: 16px;
  }

  .about__image-text {
    font-size: 16px;
  }

  .about__text {
    flex: 1;
    padding: 0;
  }

  .about__title {
    margin: 0 0 16px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .about__paragraph {
    margin: 0 0 8px 0;
  }
}
