.footer {
  max-width: 1440px;
  background-color: #fff;
  padding: 30px 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  height: auto;
}

.footer__copy {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #b6bcbf;
  margin: 0;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__links {
  display: flex;
  gap: 40px;
}

.footer__link {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1b22;
  text-decoration: none;
  transition: transform 0.3s;
}

.footer__link:hover {
  transform: scale(1.2);
}

.footer__logos {
  display: flex;
  gap: 24px;
}

.footer__logo {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__logo:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .footer {
    padding: 20px 40px;
  }

  .footer__link {
    font-size: 16px;
  }

  .footer__logo {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 700px) {
  .footer {
    display: grid;
    padding: 22px 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 38px;
  }

  .footer__copy {
    grid-column: 1 / 4;
    grid-row: 3;
    line-height: 22px;
  }

  .footer__nav {
    display: contents;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .footer__logos {
    display: flex;
    gap: 24px;
    grid-column: 3;
    grid-row: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .footer__logo img {
    width: 24px;
    height: 24px;
  }
}
